<!DOCTYPE html> 
<html> 
    <head>
        <title>EAmong Us</title>
        <link rel='stylesheet' href='/static/css/style.css'>
    </head>
    <body> 
        Hello, and Welcome to EAmong Us!
        <br> <br>
        <div class="flex-row">
            <div id="canvasHolder">
                <canvas id='gameCanvas' width='850' height='650' class='canvas-styling'></canvas>
            </div>
            <div>
                WASD to move
                <br>
                Space to interact w/ objects
                <br>
                V to vent if sus.
            </div>
        </div>

    <footer>
        <script src='/static/js/main.js'></script>
    </footer>
    </body>
</html>