<!DOCTYPE html> 
<html> 
    <head>
        <title>EAmong Us</title>
        <link rel='stylesheet' href='/static/css/style.css'>
    </head>
    <body> 
        Hello, and Welcome to EAmong Us!
        <br> <br>
        <div class="flex-row">
            <div id="canvasHolder">
                <canvas id='gameCanvas' width='810' height='630' class='canvas-styling'></canvas>
            </div>
            <div>
                <div id="game-info">
                    WASD to move
                    <br>
                    I to vent / do tasks / call meeting
                    <br>
                    O to Kill
                    <br>
                    U to report bodies
                </div>
                <br>
                <div id="startGameHolder">
                </div>
                <div id="sabotageHolder">
                </div>
				<div id="uiHolder">
				</div>
            </div>
        </div>

    <footer>
        <script src='/static/js/main.js'></script>
    </footer>
    </body>
</html>